.contact-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 3rem;
  }
}
.contact-items-container {
  display: flex;
  width: 100%;
}

.contact-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50%;

  h2 {
    margin-bottom: 0.5rem;
  }
  span {
    margin-bottom: 0.5rem;
  }
}
.contact-map {
  // width: 50%;
  display: flex;
}

.contact-reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.5rem;
  h2 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 850px) {
  .contact-items-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
  }
  .contact-reservations {
    margin-top: 4rem;
  }

  .contact-map {
    margin-bottom: 3rem;
    align-self: center;
  }
}

@media (max-width: 575px) {
    .contact-map {
      width: 100%;
      height: auto;
    }
}