@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

$orange: rgb(255, 113, 53);
$dark-brown: #4c3f15;
$light-tan: hsl(46, 56%, 89%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}

body {
  background: $light-tan;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

.landing-backdrop {
  @include flex-center;
  position: relative;
  // height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: hsl(46, 56%, 89%);
  z-index: 3
}

header {
  @include flex-center;
  width: 80%;
  height: 4rem;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0rem 3rem;
}

nav {
  ul {
    display: flex;

    li {
      position: relative;
      font-family: 'Montserrat', sans-serif;
      list-style-type: none;
      padding: 0.5rem;
      cursor: pointer;

      a {
        text-decoration: none;
        font-weight: 600;
        color: black;
      }
      a:hover {
        color: rgb(255, 113, 53);
      }
    }
  }
}

.active-nav {
  color: rgb(255, 113, 53);
}
 .active-nav:after {
   position: absolute;
   border-radius: 20px;
   display: block;
   margin-top: 0.5rem;
   content: '';
   width: 100%;
   height: 5px;
   background: rgb(255, 113, 53);
   left: 1px;
}

// .nav-link:hover:after {

// }

.landing-info-container {
  width: 80%;
  height: 100%;
  padding: 5rem 3rem;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: rgb(255, 113, 53);
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
}

.watermark {
  position: fixed;
  font-weight: 800;
  font-size: 18vw;
  bottom: 0;
  left: -5rem;
  z-index: -5;
   color: hsl(46, 56%, 80%);
}

@media (max-width: 850px) {
  .home-first-section {
    display: flex;
    justify-content: center;
  }
  .landing-info-container {
    width: 90%;
    padding: 5rem 1rem;
  }
  .logo {
    display: none;
  }
 header {
   justify-content: center;
   position: fixed;
   top: -36px;
   background: $dark-brown;
   width: 100%;
  padding-bottom: 1rem;

 }
 .nav-link {
   color: white;
 }
}

@media (max-width: 425px) {
  .nav-link {
    font-size: .85rem;
  }
}
@media (max-width: 370px) {
  .nav-link {
    font-size: .75rem;
  }
}