$orange: rgb(255, 113, 53);
$dark-brown: hsl(46, 57%, 19%);
$light-tan: hsl(46, 56%, 89%);

.reservation-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: green;
}

.reservation-items-container {
  width: 90%;
  height: 100%;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reservation-options-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}