.calendar {
  color: blue;
  // border-radius: 15px;
  width: 25rem;
}

.time-button-container {
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
}

.time-button{
  height: 10px;
  width: 20px;
  background-color: green;
  color: yellow;
}