.services-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-: wrap;
  align-items: center;
  justify-content: center;
  
  h1 {
    margin-bottom: 3rem;
  }
}

.service-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 13rem;
  width: 13rem;
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;

  h2 {
    font-weight: bold;
    margin-bottom: 1rem
  }
  p {
    text-align: center;
    margin-top: 1rem;
  }
}

.reservation-service {
  cursor: pointer;
}
.reservation-service:active {
  border: 3px solid yellow;
}