$orange: rgb(255, 113, 53);
$dark-brown: #4c3f15;
$light-tan: hsl(46, 56%, 89%);

.staff-section-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-container {
display: flex;
justify-content: space-between;
width: 50%;
flex-wrap: wrap;
}

.bio-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 1.5rem;
  width: 50%;
  p {
    margin-bottom: 3.5rem;
  }
}


.staff-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 13rem;
  width: 10rem;
  cursor: pointer;
  margin-right: 5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: black;

  img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 15px;
    background: #555;
  }
  h2 {
    margin-top: 1rem;
  }
}
