.staff-section-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
}

.bio-container {
  padding: 1rem;
  text-align: center;
}

.staff-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 13rem;
  width: 13rem;
  cursor: pointer;
  margin: 1rem;
  background: #666;
  border-radius: 10px;

  img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #666;
  }
  h2 {
    margin-top: 1rem;
  }
}

